/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/uploads
/.idea
/.vscode
/.vagrant
/.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
auth.json
